@import "tailwindcss";

/* Définition des variables CSS */
:root {
  --font-title-main: var(--font-quicksand);
  --font-title-secondary: var(--font-montserrat);
  --font-body: var(--font-arimo);
}

html {
  scroll-behavior: smooth;
}

/* Appliquer la police Arimo par défaut à tout le texte */
body {
  font-family: var(--font-body), sans-serif;
}

/* Titres principaux : Quicksand */
h1 {
  font-family: var(--font-title-main), sans-serif;
  font-size: 2.25rem; /* text-4xl */
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

/* Titres secondaires : Montserrat */
h2 {
  font-family: var(--font-title-secondary), sans-serif;
  font-size: 1.5rem; /* text-2xl */
  font-weight: 600;
  margin-bottom: 0.75rem;
}

/* Paragraphe : Arimo */
p {
  font-family: var(--font-body), sans-serif;
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 1rem;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
