@import "tailwindcss";

/* Définition des variables CSS */
:root {
  --font-title-main: var(--font-quicksand);
  --font-title-secondary: var(--font-montserrat);
  --font-body: var(--font-arimo);
}

html {
  scroll-behavior: smooth;
}

/* Appliquer la police Arimo par défaut à tout le texte */
body {
  font-family: var(--font-body), sans-serif;
}

/* Titres principaux : Quicksand */
h1 {
  font-family: var(--font-title-main), sans-serif; /* text-4xl */
}

/* Titres secondaires : Montserrat */
h2 {
  font-family: var(--font-title-secondary), sans-serif;
}

.logo-title {
  font-family: var(--font-title-main), sans-serif;
}

.logo-subtitle {
  font-family: var(--font-title-secondary), sans-serif;
}

.footer-logo {
  font-family: var(--font-title-main), sans-serif;
}

/* Paragraphe : Arimo */
p {
  font-family: var(--font-body), sans-serif;
}

/* Liens de navigation */
.nav-link {
  position: relative;
  color: white;
  text-decoration: none;
  padding-bottom: 0.25rem;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #a3e635; /* lime-400 */
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
  left: 50%;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Effet des cards */
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
